.container#aboutpg
  .row
    .col-md-8.col-md-push-1
      %p
        %strong
          One phone call won’t change your Congressman’s opinion, but how about a thousand phone calls?
      %p
        Everyone should have a voice in their community.    
      %p
        Voices is currently working with select advocacy groups to change the way group members participate in the policy process. Enabling people to call, tweet, or email their elected officials together in a coordinated action is a far more effective way to lobby government. If you or someone you know belongs to an advocacy group that would like to amplify their message, please reach out to us using the button below.
      %p
        We are inspired by the 2012 protests against <a href="http://www.sopastrike.com">SOPA/PIPA</a> and want to enable anybody to start a movement that can change their communities for the better.


      / %p= "Hello, this is my text. #{link_to 'Link here', '#'} This is more text".html_safe

      %p Hello, this is my text. <a href="#">Link here</a> This is more text

