.container#aboutpg
  .row
    .col-md-8.col-md-push-1
      %p
        %strong
          One phone call won’t change your Congressman’s opinion, but how about a thousand phone calls?
      %p
        Every day, advocacy groups across the country ask their members to contact elected officials in order to advance a policy goal. Unfortunately, these calls to action are commonly uncoordinated and the group member doesn't know who to call or what to say.
      %p
        The Voices app is a tool to address these issues. Advocacy groups can use the Voices platform to send push notifications to their members in order to create a more organized direct action. Voices automatically determines a user’s elected representatives, and provides tools to call, tweet, or email them. These steps reduce the cost of participation to nearly zero, and permit for a far more effective action.
      %p
        Download the app today to have your voice heard and see your values reflected in your community.
