.container#advocacypg
  .row
    .col-md-8.col-md-push-1
      %p
        %strong
          Helping activists own the shift to mobile.
        %p
          %span{ style: "font-size:14.6667px" }
            Public interest and advocacy groups play an important role in our communities. That being said, they have difficulty organizing and engaging their members. Many advocacy groups are not realizing the full potential of their membership to engage in the civic process.
        %p
          %span{ style: "font-size:14.6667px" }
            At Voices we believe we can change that. We examined the factors that determine whether or not someone will participate in the civic process, and created a tool that addresses each of these factors.
        %p
          %span{ style: "font-size:14.6667px" }
            Using the Voices platform, advocacy groups can send push notifications to users with the information that the user needs to engage in the civic process. Giving end users a smart and easy way to engage in the civic process is key to achieving policy goals.
        %p
          %span{ style: "font-size:14.6667px" }
            Two examples of this kind of engagement include the
            =link_to '2012 SOPA protest', "//en.wikipedia.org/wiki/Protests_against_SOPA_and_PIPA", target: "_blank"
            and victory, as well as the net neutrality public comment period in 2014, where nearly
            =link_to 'four million', "//www.npr.org/sections/alltechconsidered/2014/09/17/349243335/3-7-million-comments-later-heres-where-net-neutrality-stands", target: "_blank"
            people successfully voiced their opinion in support of net neutrality.
        %p
          %span{ style: "font-size:14.6667px" }
            Push notifications sent by advocacy groups to their members can include content such as:
            %ul
              %li
                %span{ style: "font-size:14.6667px"}
                  policy talking points
              %li
                %span{ style: "font-size:14.6667px"}
                  image and video
              %li
                %span{ style: "font-size:14.6667px"}
                  calls to action
