.row
  .col-md-12
    %h3
      %strong
        Contact
  .col-md-12
    %strong
      John Bogil
  .col-md-12
    =link_to '@johnbogilll', "//twitter.com/johnbogilll"
  .col-md-12
    john@voicesapp.us
