.container#individualspg
  .row
    .col-md-8.col-md-push-1
      %p
        %span{ style: "font-size:14.6667px" }
          While many people care about issues that impact their lives - from access to technology to gun control or even the regulation of drones - many don’t have the time nor know of an easy way to have their opinion expressed to elected officials or regulatory agencies.
        %br
        %span{ style: "font-size:14.6667px" }
          The VOICES app is the smart way for people to effectively participate in their community’s civic process on a local, state or even federal level. VOICES uses the GPS location to show who the appropriate elected officials are, then provides their phone number, e-mail or Twitter handle to make contacting them fast, easy and deliver immediate impact.
