%section#section1.container-fluid
  .panel.panel-default
    .panel-body
      %p#thank_you_msg Thank you. I have received your message and will respond as soon as possible.
  .back_link
    = link_to 'Back', root_path, class: "btn btn-small btn-default", style: "color:black"