@font-face {
  font-family: "Proxima Nova Light";
  src: url('/assets/proxima_nova_light');
}

@font-face {
  font-family: "Proxima Nova";
  src: url('/assets/proxima_nova')
}

.navbar.navbar-default.navbar-fixed {
  margin: 0;
  padding: 0;
}

.navbar-brand{
  margin-top: -8px;
}

body {
  height: 100%;
  margin: 0;
  font-size: 21px;
  line-height: 1.8em;
  text-transform: none;
  font-weight: 300;
  font-style: normal;
  text-decoration: none;

  strong {
    font-weight: bold;
  }

  h3{
    line-height: 1.5em;
    letter-spacing: 1px;
    font-family: 'Proxima Nova Light', sans-serif;
    text-align: center;
  }

  .btn-group {
    left: 3px;
    bottom: 40px;
  }

    #itunes-button {
        display: inline;
        width:135px;
        height:40px;
        left: 12px;
      }
    #google-play-button {
        display: inline;
        width:135px;
        height:40px;
        left: 12px;
      }

  .comment-author-image{
    height: 50px;
    width: 50px;
  }

  #main_message {
    text-align: center;
    font-family: 'Proxima Nova Light', sans-serif;
    line-height: 1.5em;
    letter-spacing: 1px;
  }

  h2{
    line-height: 1.5em;
    letter-spacing: 1px;
    font-family: 'Proxima Nova Light', sans-serif;
    text-align: center;
  }

  #info {
    text-align: left;
  }

  p {
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 21px;
    padding: 30px 0 0 0;
  }

  a {
    color: #eb7e23;
  }

  .modal-body {
    height: 500px;
    width: 100%;
  }

  #request_button {
  text-align: center;
  text-transform: uppercase;
  font-family: 'Proxima Nova';
  letter-spacing: 1px;
  font-weight: 400;
  padding: 10px 30px 10px 30px;
  border-radius: 0;
  background-color: transparent;
  color: black;
  border-width: 2px;
  border-color: black;
  }

  .row {
    margin: 30px 0 30px 0;
  }

  textarea {
    resize: none;
  }

  #request_button:hover {
    background-color: black;
    color: white;
    transition: 0.2s;
  }

  strong {
    font-family: 'Proxima Nova Light', sans-serif;
  }

  #fname_label {
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 12px;
  }

  #lname_label {
    font-family: 'Proxima Nova Light', sans-serif;
    font-size: 12px;
  }

  #advocacypg {
    margin-top: 30px;
  }

  #individualspg {
    margin-top: 30px;
  }

  #aboutpg {
    margin-top: 30px;
  }

  #contactpg {
    margin-top: 30px;
  }

  #contact_title {
    text-align: left;
  }

  #contact_name {
    text-align: left;
  }

  #contact_twitter {
    text-align: left;
  }

  #contact_email {
    text-align: left;
  }

  .blog-title {
    margin: 20px;
  }

}
